{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

<head>
	<title>Index of Polls</title>
</head>

<body>

<div id="wrapper">
	<div id="main">
		<div id="top">
			<img src="{% static 'polls/images/banner.jpg' %}" />
		</div>
		
		<div id="topnav">
			<ul>
				<li><a href="http://www.heubergeronline.de/inventory">VDSt Bib Index</a></li>
				<li><a>nav</a></li>
				<li><a>nav</a></li>
				<li><a>nav</a></li>
			</ul>
		</div>
		
		<div id="content-wrapper">
	
			<div id="leftnav">
				<!---
				<ul>
					<li><a href="index.html">navigation</a></li>
					<li><a href="index.html">navigation</a></li>
					<li><a href="index.html">navigation</a></li>
					<li><a href="index.html">navigation</a></li>
					<li><a href="index.html">navigation</a></li>
					
				</ul>
				--->	
				{% if latest_question_list %}
		   					<ul>
		    				{% for question in latest_question_list %}
		        				<li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
		    				{% endfor %}
		    				</ul>
						{% else %}
		    				<p>No polls are available.</p>
						{% endif %}	
			</div >
			
			<div id="content-wrapper2">
	
				<div id="content">
				
					<h1>test</h1>
					<p>lorem ipsum dolor sit amet</p>
					<p>
					<center> 
						{% if latest_question_list %}
		   					<ul>
		    				{% for question in latest_question_list %}
		        				<li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
		    				{% endfor %}
		    				</ul>
						{% else %}
		    				<p>No polls are available.</p>
						{% endif %}
					</center> 
					</p>
				</div>
				
				<div id="rightside">
					<h2></h2>
					<p>
						// TODO
					</p>
				</div>
			</div>	
		</div>
	
	</div>
	
	<div id="footer">
	
		<p>Last Update: 11.07.2016</p>
	
	</div>
	
</div>

</body>